<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet"  href="style_index.css">
    <title>Weather in any city</title>
</head>
<body>
    <div class="wrapper">
        <nav class="bar">
            <img class="logo" src="../static/images/logo.png">
            <h1 id="header"> weather in any city </h1>
            <ul> 
                <li><a class="active" href="#">Weather</a> </li>
                <li><a href="#">Pressure</a> </li>
                <li><a href="#">About</a> </li>
            </ul>
        </nav>
        <div class="center">
            <h1> Enter city: </h1>
            <form action="{{url_for('submit')}}" method="POST" novalidate>
             <div class="field">
                 <input type="text" size=40 name="city" id="city"> 
            </div>
            <!--<h2> for example {{random_city}}</h2> -->
            <div class="buttons">
                 <input type="submit" value="Find" id="find" size=20>
            </div>
            <!--{% if comment %}
            <br><p align="center"><b color="Red">{{comment}}</b></p>
            {%endif%}
            -->
           </form>           
        </div>
    </div>
</body>
</html>